body {
     /* background: url('/texturetastic_gray.png');
      */
      color: #444444;
      margin: 0px;
    }
    a {
      color: #0077ff;
      text-decoration: none;
    }
    .header {
      height: 60px;
      background: #444444;
      color: #FFFFFF;
    }
    .navbar a {
      color: #FFFFFF;
    }
    .nav {
      border-bottom: 1px solid #aaa;
      height: 30px;
    }
    .nav li {
      float: left;
      list-style: none;
      padding: 5px;
      padding-left: 12px;
      padding-right: 12px;
      margin: 3px;
      border-radius: 12px;
    } 
    .nav li a {
      color: #888;
    }
    .nav li:hover {
      background-color: #dddddd;
    }
    .nav li.active {
      background-color: #ff8800;
      color:#ffffff;
    }
    label, input, button {
      display: block;
    }
    .section { display: none }
    body {
      font-family: 'Tahoma';
      font-size: 11px;
    }
    .table-striped trnth-child(2n) td: {
      background-color: #EEEEEE;
    }

